<div class='contextual'>
  <%= link_to l(:label_export_with_journals), '#', :onclick => "showModal('csv-export-with-journals-options', '330px'); return false;" %>
</div>

<div id="csv-export-with-journals-options" style="display: none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= form_tag({:controller => 'issues_export', :action => 'export_with_journals'}, :method => :get, :id => 'csv-export-with-journals-form') do %>
  <%= hidden_field_tag 'project', project %>
  <p>
    <label><%= radio_button_tag 'columns', '', true %> <%= l(:description_selected_columns) %></label><br />
    <label><%= radio_button_tag 'columns', 'all' %> <%= l(:description_all_columns) %></label>
  </p>
  <p>
    <label><%= check_box_tag 'description', '1', @query.has_column?(:description) %> <%= l(:field_description) %></label>
  </p>
  <%= field_set_tag l(:label_history) do %>
  <ul>
    <li>
      <label><%= radio_button_tag 'single_cell', 'single', true %> <%= l(:label_export_with_journals_to_single_cell) %></label>
      <label><%= radio_button_tag 'single_cell', '' %> <%= l(:label_export_with_journals_to_multiple_cells) %></label>
    </li>
    <li>
      <label><%= radio_button_tag 'order', '' %> <%= l(:label_export_with_journals_order_asc) %></label>
      <label><%= radio_button_tag 'order', 'desc', true %> <%= l(:label_export_with_journals_order_desc) %></label>
    </li>
    <li>
      <%= l(:label_export_with_journals_limit) %> <%= text_field_tag 'journals_limit', nil, :size => 5 %>
    </li>
    <li>
      <label><%= check_box_tag 'excel_limit', '1' %> <%= l(:label_export_with_journals_excel_limit) %></label>
      <%#
         Excel limit: Total number of characters that a cell can contain 32,767 characters
         Excel 2003: http://office.microsoft.com/en-us/excel-help/excel-specifications-and-limits-HP005199291.aspx
         Excel 2007: http://office.microsoft.com/en-us/excel-help/excel-specifications-and-limits-HP010073849.aspx
         Excel 2010: http://office.microsoft.com/en-us/excel-help/excel-specifications-and-limits-HP010342495.aspx
       %>
    </li>
  </ul>
  <% end %>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => 'hideModal(this);' %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => 'hideModal(this);', :type => 'button' %>
  </p>
  <% end %>
</div>
